html,
body,
h1,
#root {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
        'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
}
dl > dt {
    font-weight: bold;
}
input[type='text'] {
    margin-top: 5px;
    width: 100%;
}
button {
    margin: 10px;
}
td {
    padding: 10px;
}
